@use 'variables' as *;
@use 'mixins';

.brand {
    background: $offwhite;

    .container-section {
        max-width: 1500px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        padding:  8rem 6rem;

    }

    &__content {
        max-width: 600px;
    }

    &__title {
        color: $purple;
    }

    &__description {
        color: $black;


    }

    &__image {
        max-width: 500px;
        height: auto;
        border-radius: 1rem;
    }

    @media (max-width: 1150px) {
        .container-section {
        flex-direction: column-reverse;
        padding: 4rem 2rem;
        gap: 2rem;
        }
        &__content {
            max-width: 100%;
        }

        &__image {
            max-width: 100%;
            flex-shrink: 0;

        }
    }
}