@use 'variables' as *;

.faq {
    position: relative;
    overflow: hidden;

    .container-section {
        max-width: 1500px;
        margin: auto;
        display: flex;
        padding: 8rem 6rem;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    &__title {
        color: $purple;
        width: 100%;
    }

    &__list {
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        margin: 0 auto;
        width: 100%;
    }

    &__item {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        overflow: hidden;
        background: #faf9f6;
        width: 100%;

        &.active .faq__answer {
            max-height: 500px;
            padding: 16px;
        }
    }

    &__question {
        background: #f3f5e7;
        border: none;
        width: 100%;
        text-align: left;
        padding: 1rem;
        cursor: pointer;
        display: flex;
        color: $black;
        justify-content: space-between;
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        padding: 0 1rem;
        background: #fffefc;
    }

    &__chevron {
        transition: transform 0.3s ease;
        rotate: 180deg;
    }

    &__item.active .faq__chevron {
        transform: rotate(-180deg);
    }

    &__decor {
        position: absolute;
        max-width: 25rem;
        bottom: -20%;
        right: -220px;
    }

    @media (max-width: 1150px) {
        .container-section {
            padding: 8rem 2rem;
        }

        .faq__decor {
            right: -300px;
        }
        .faq__list{
            padding: 1rem;
        }
    }

    @media (max-width: 768px) {
        .faq__decor {
            position: absolute;
            max-width: 25rem;
            bottom: -25%;
            right: -230px;
        }
    }

}