@use 'variables' as *;
@use 'mixins';

.hero {
    display: flex;
    min-height: 100vh;
    position: relative;

    .container-section {
        max-width: 1500px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12.5rem 4.25rem;
        position: relative;
        flex-wrap: wrap;
        width: 100%;
    }

    &__product {
        width: 20rem;
        flex-shrink: 0;
        z-index: 1;
    }

    &__decor {
        position: absolute;
        max-width: 50rem;
        left: -300px;
        z-index: 0;
    }

    &__content {
        width: 57%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.875rem;
        z-index: 1;
    }

    &__title {
        color: $purple;
        width: 100%;
    }

    &__description {
        max-width: 40rem;
        color: $black;
    }

    &__cta {
        display: flex;
        padding: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 0.625rem;
        color: $white;
        border: 1px solid $purple;
        background-color: $purple;
        transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $light-purple;
            color: $purple;
            transform: scale(0.95);
        }
    }
    &__bee-decor{
        position: absolute;
        right:20%;
        bottom: 0;
    }

    @media (max-width: 1150px) {
        .container-section {
            justify-content: center;
            gap: 50px;
            padding: 5rem 2rem;
        }

        &__decor {
            left: -50px;
            top: 100px;
            max-width: 23rem;
        }
        &__product {
            width: 10rem;
        }
    


        &__content {
            width: 90%;
        }
        &__bee-decor{
            width: 160px;
            position: absolute;
            right:10%;
            bottom: 0;
        }
        
    }

   
}