 :root {
    --color-primary: #b36c36;
    --color-secondary: #c58a54;
    --color-bg: #fffaf5;
    --color-text: #333;
  
    --font-base: 'Avenir', sans-serif;
    --font-accent: 'Instrument Serif', serif;
  }