:root {

}

$font-base: 'Avenir', sans-serif;
$font-accent: 'Instrument Serif', serif;
$font-size-title-desktop: 48px;
$font-size-title-mobile: 24px;
$font-size-subtitle-desktop: 24px;
$font-size-subtitle-mobile: 16px;
$font-size-text-desktop: 16px;
$font-size-text-mobile: 12px;
$font-size-button-desktop: 20px;
$font-size-button-mobile: 14px;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-style-italic: italic;

$gray: #3D3D3D;
$purple: #5D4A81;
$orange: #C58A54;
$black: #000000;
$beige: #F3DAC3;
$ivory: #F0F2E0;
$sage: #B5C8A3;
$dark-purple: #422E56;
$offwhite: #FFFDF9;
$light-purple: #EBE2F5;
$white: #FFFFFF;
$white-70: rgba(255, 255, 255, 0.7);