@use 'reset';
@use 'variables';


body {
  background: var(--color-bg);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-accent);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
