@use 'reset';
@use 'variables' as *;
@use 'mixins';


body {
  overflow-x: hidden;

}

h2{
  font-family: $font-accent;
  font-size: $font-size-title-desktop;
  font-weight: normal;
font-style: $font-style-italic;
}

h3{
  font-family: $font-base;
  font-size: $font-size-subtitle-desktop;
  font-weight:$font-weight-bold;
}

button{
  font-family: $font-base;
  font-size: $font-size-button-desktop;
  font-weight:$font-weight-bold;
}
p{
  font-family: $font-base;
  font-size: $font-size-button-desktop;
  font-weight:$font-weight-regular;
}

strong {
  font-family: $font-base;
  font-weight: $font-weight-bold;
  color: $purple;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
